
    .btn-primary {
        @apply bg-alerange text-white rounded-full text-center block hover:bg-alerange/90 transition-all duration-300 shadow-lg shadow-alerange/25 font-semibold;
    }

    .btn-warning {
        @apply bg-yellow-500 text-white;
    }

    .btn-danger {
        @apply bg-red-500 text-white;
    }

    .btn-light-outline {
        @apply text-white border border-white;
    }

    .btn-white-outline {
        @apply rounded-full border border-[#333] py-3 text-center block hover:bg-white hover:text-black transition-all duration-300 font-medium;
    }
    .btn-google-light {
        @apply w-full py-3 bg-white rounded-2xl text-white font-semibold ;
    }
    .btn-wallet-web3 {
        @apply w-full py-3 bg-purple-600 rounded-2xl text-white font-semibold;
    }
